/* Style for the container */
body {
    background-image: url('img.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }
.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Style for the form */
form {
    display: inline-block;
    text-align: left;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Style for form labels */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.custom-image-input {
    display: inline-block;
    border: 2px dashed #ccc;
    padding: 10px;
    cursor: pointer;
  }
  
  .custom-input-label {
    display: block;
    text-align: center;
    font-weight: bold;
  }
  
  /* Hide the default file input appearance */
  #images {
    display: none;
  }
  
/* Style for form inputs */
input[type="text"],
input[type="number"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Style for the submit button */
button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Style for the back link */
a {
    display: inline-block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
